RPC_URL=https://your_rpc_url
OWNER_PRIVATE_KEY=your_owner_private_key
OWNER_PRIVATE_KEY2=your_owner_private_key2
SAFE_ADDRESS=your_safe_address
DAO_ADDRESS=your_dao_address
MULTISIG_ADDRESS=your_multiSigWallet_address
SAFE_API_KEY=your_SafeAPIKEY